.menu.sf-menu.sf-style-university {
  float: left;
  margin: 0;
  padding: 0;
}

.menu.sf-menu.sf-style-university li {
  margin: 0 1px 0 0;
  border-right: 1px solid #2b2c2e;
}

.menu.sf-menu.sf-style-university li:last-of-type {
  border-right: 0;
}

.menu.sf-menu.sf-style-university li a {	
  color: #afafaf;
  font-size: 12px;
  font-weight: bold;  
  margin: 0px;
  padding: 15px 20px;
  text-decoration: none;	
  text-transform: uppercase;
}
.menu.sf-menu.sf-style-university li.sfHover a,
.menu.sf-menu.sf-style-university li a:active,
.menu.sf-menu.sf-style-university li a:focus,
.menu.sf-menu.sf-style-university li a:hover{
  background: #1b212a;
  color: #e7e7e7;
}

.menu.sf-menu.sf-style-university li.active-trail a,
.menu.sf-menu.sf-style-university li a.active,
.menu.sf-menu.sf-style-university li a.active:active,
.menu.sf-menu.sf-style-university li a.active:focus,
.menu.sf-menu.sf-style-university li a.active:hover {
  background: #1b212a;
  border-top: 3px solid #d42b1e;
  color: #fff; 
  padding-top: 12px; 
}

.menu.sf-menu.sf-style-university li.active-trail a .sf-sub-indicator {
  top: 1.45em;
}

.menu.sf-menu.sf-style-university li.last a { border-right: none; }

/* "Have child" Item */
.menu.sf-menu li:hover ul, .menu.sf-menu li.sfHover ul {
	
}

a .sf-sub-indicator {
  background: url("../../images/arrow-3.png") no-repeat 0 0;
  height: 5px;
  left: 8px;
  top: 1.65em;
  width: 8px;  
}
a:focus .sf-sub-indicator, 
a:hover .sf-sub-indicator, 
a:active .sf-sub-indicator, 
li:hover a .sf-sub-indicator, 
li.sfHover a .sf-sub-indicator {
  background-position: 0 0;
}
.menu.sf-menu ul li a .sf-sub-indicator {
  background: url("../../images/arrow-4.png") no-repeat 0 0;
  left: auto;
  height: 7px;
  top: 1.2em;
  right: 0;
}

/* Child Menu */
.menu.sf-menu.sf-style-university ul {
  background: #1b212a;
  border-top: 0;
  box-shadow: 3px 3px 5px rgba(0,0,0,.3);
  color: #333;
  display: none;
  padding: 10px;
  top: 42px;
}

.menu.sf-menu.sf-style-university ul ul {
  margin-top: 0;
  top: 0;
}

.menu.sf-menu.sf-style-university ul li,
.menu.sf-menu.sf-style-university ul ul li {
  border-right: 0;
}


.menu.sf-menu.sf-style-university li.active-trail ul li a,
.menu.sf-menu.sf-style-university ul li a,
.menu.sf-menu.sf-style-university ul li.sfHover li a{
  border-top: 1px solid #232b37 !important;
  border-right: none;
  color: #737e8e !important;
  font-weight: normal;  
  padding: 10px 0;
  text-transform: none;
}

.menu.sf-menu.sf-style-university.sf-navbar ul li ul li a {
  border-top: 1px solid #232b37;
  border-right: none;
  color: #737e8e !important;
  font-weight: normal; 
  padding: 10px 0;
  text-transform: none;
}

.menu.sf-menu.sf-style-university li.active-trail ul li a:active,
.menu.sf-menu.sf-style-university li.active-trail ul li a:focus,
.menu.sf-menu.sf-style-university li.active-trail ul li a:focus,
.menu.sf-menu.sf-style-university ul li.sfHover a,
.menu.sf-menu.sf-style-university ul li a:active,
.menu.sf-menu.sf-style-university ul li a:focus,
.menu.sf-menu.sf-style-university ul li a:focus{
  background: 0;
  color: #fff !important; 
}
.menu.sf-menu.sf-style-university li.menuparent.sfHover li a:hover,
.menu.sf-menu.sf-style-university li.menuparent.sfHover li a:focus,
.menu.sf-menu.sf-style-university li.menuparent.sfHover li a:active {
  color: #fff !important;
}


.menu.sf-menu.sf-style-university ul li a.menuparent {
  border-top: 1px solid #232b37;
}
.sf-menu, .sf-menu * {
  padding: 0 10px;
}
.menu.sf-menu.sf-style-university ul li a.menuparent {
  border-bottom: 0 !important; 
  border: 0 none;
  color: #737E8E;
  font-weight: bold !important;
  padding: 10px 0;
  text-transform: uppercase !important;
}
.menu.sf-menu.sf-style-university ul li.active-trail a:active,
.menu.sf-menu.sf-style-university ul li.active-trail a:focus,
.menu.sf-menu.sf-style-university ul li.active-trail a:hover,
.menu.sf-menu.sf-style-university ul li.sfHover a.menuparent,
.menu.sf-menu.sf-style-university ul li a.menuparent:hover,
.menu.sf-menu.sf-style-university ul li a.menuparent:focus,
.menu.sf-menu.sf-style-university ul li a.menuparent:active {  
  border-top: 1px solid #232b37;
}

.menu.sf-menu.sf-style-university li.active-trail ul li.first a,
.menu.sf-menu.sf-style-university ul li.first a {
  border-top: none !important;
  border-left: none;
}

.menu.sf-menu.sf-style-university ul li.active-trail a.active {
  color: #fff !important;  
}

/* Hover Links */
.menu.sf-menu.sf-style-university a:hover,
.menu.sf-menu.sf-style-university a:focus,
.menu.sf-menu.sf-style-university a:active {
  color: #fff;
}

/* Child Menu Items Hover */
.menu.sf-menu.sf-style-university ul li.sfHover a,
.menu.sf-menu.sf-style-university ul li a:focus,
.menu.sf-menu.sf-style-university ul li a:hover,
.menu.sf-menu.sf-style-university ul li a:active { 
  color: #e47e6b;
}

/* Active Links */
.menu.sf-menu.sf-style-university a.active {	
	color: #e47e6b;
}
/*level 3*/
.menu.sf-menu.sf-style-university ul ul li.firstandlast a,
.menu.sf-menu.sf-style-university ul ul li.first a {
  border-top: 0 !important;
}
.menu.sf-menu.sf-style-university ul ul li.sfHover a,
.menu.sf-menu.sf-style-university ul ul li a:active,
.menu.sf-menu.sf-style-university ul ul li a:focus,
.menu.sf-menu.sf-style-university ul ul li a:hover {
  color: #fff !important;	
}

/* Child Menu Items Active */
.menu.sf-menu.sf-style-university ul li a.active,
.menu.sf-menu.sf-style-university li.menuparent.sfHover li a.active { 
  color: #fff;
}

/* Navbar */
.menu.sf-menu.sf-style-university.sf-navbar {  
  width: 100%;
}

.menu.sf-menu.sf-style-university.sf-navbar .sfHover .sf-depth-1 {
  color: #fff;
}

.menu.sf-menu.sf-style-university.sf-navbar ul {
  padding: 15px;
}

.menu.sf-menu.sf-style-university.sf-navbar ul ul {
  padding: 0 15px;
}

.menu.sf-menu.sf-style-university.sf-navbar ul li {
  display: inline-block;
  float: none;
  padding: 0;
}

.menu.sf-menu.sf-style-university.sf-navbar ul li a {   
  border-top: none !important;
  border-right: 1px solid #10151C;
  color: #333;
  display: inline-block;  
  padding: 0 20px;
}
	
.menu.sf-menu.sf-style-university.sf-navbar ul li.last a {
  border-right: none;
}

.menu.sf-menu.sf-style-university.sf-navbar ul li a.menuparent {
  padding-right: 40px;
}

.menu.sf-menu.sf-style-university.sf-navbar ul li a .sf-sub-indicator {
  background: url("../../images/arrow-3.png") no-repeat 0 0;
  height: 5px;
  left: 10px;
  top: .3em !important;
  width: 8px;
}

.menu.sf-menu.sf-style-university.sf-navbar ul li ul {
  margin-top: 25px;
}

.menu.sf-menu.sf-style-university.sf-navbar ul li ul li {
  padding: 0;
}

.menu.sf-menu.sf-style-university.sf-navbar ul li ul li a {
  border-top-color: #e5e5e5;
  display: block;
  float: left; 
  padding: 10px 0;
}

.menu.sf-menu.sf-style-university.sf-navbar ul li ul li.first a {
  border-top: none;
}

/* MegaMenu */
.menu.sf-menu.sf-style-university span.sf-description {
  color: #999;
  display: block;
  font-size: 0.8em;
  line-height: 1.5em;
  margin: 5px 0 0 5px;
  padding: 0;
}

.menu.sf-menu.sf-style-university.rtl a.sf-with-ul { /* RTL */
  padding-left: 2.25em;
  padding-right: 1em;
}

.menu.sf-menu.sf-style-university ul.sf-megamenu li.sf-megamenu-wrapper ol li.sf-megamenu-column {
  display: inline;
  float: left;
  width: 12em;
}

.menu.sf-menu.sf-style-university.rtl ul.sf-megamenu li.sf-megamenu-wrapper ol li.sf-megamenu-column {
  float: right; /* RTL */
}

.menu.sf-menu.sf-style-university ul.sf-megamenu li.sf-megamenu-wrapper ol,
.menu.sf-menu.sf-style-university ul.sf-megamenu li.sf-megamenu-wrapper ol li {
  margin: 0;
  padding: 0;
}

.menu.sf-menu.sf-style-university ul.sf-megamenu li.sf-megamenu-wrapper ol li a {
  border-top: 1px solid #232B37 !important;
  padding-top: 10px;
}

.menu.sf-menu.sf-style-university ul.sf-megamenu li.sf-megamenu-wrapper ol li.first.sf-no-children a {
  border-top: none !important;
}

.menu.sf-menu.sf-style-university ul.sf-megamenu li.sf-megamenu-wrapper ol li a.menuparent{
  border-top: 0 !important;
}

.menu.sf-menu.sf-style-university li.sf-parent-children-1 ul.sf-megamenu {
  width: 12em;
}

.menu.sf-menu.sf-style-university li.sf-parent-children-10 ul.sf-megamenu {
  width: 120em;
}

.menu.sf-menu.sf-style-university li.sf-parent-children-2 ul.sf-megamenu {
  width: 24em;
}

.menu.sf-menu.sf-style-university li.sf-parent-children-3 ul.sf-megamenu {
  width: 36em;
}

.menu.sf-menu.sf-style-university li.sf-parent-children-4 ul.sf-megamenu {
  width: 48em;
}

.menu.sf-menu.sf-style-university li.sf-parent-children-5 ul.sf-megamenu {
  width: 60em;
}

.menu.sf-menu.sf-style-university li.sf-parent-children-6 ul.sf-megamenu {
  width: 72em;
}

.menu.sf-menu.sf-style-university li.sf-parent-children-7 ul.sf-megamenu {
  width: 84em;
}

.menu.sf-menu.sf-style-university li.sf-parent-children-8 ul.sf-megamenu {
  width: 96em;
}

.menu.sf-menu.sf-style-university li.sf-parent-children-9 ul.sf-megamenu {
  width: 108em;
}
