/* 
    Document   : tablet
*/
.form-text,
.webform-client-form .form-textarea,
span.button input.form-submit,
.sidebar .search-form .form-text,
#header #search-block-form .form-text,
#header #search-block-form .form-submit,
.block-newsletter .form-item-email input,
.block-newsletter span.button input.form-submit,
.sidebar .search-form span.button input.form-submit {  
  -webkit-appearance: none;
  -webkit-border-radius: 0 !important;
}

.sidebar .search-form .form-text {
  width: 80%;
}