/* Menu Block Styling */
/* second-level menu in sidebar second */
#sidebar-second-wrapper .block-menu-block ul.menu li.leaf,
#sidebar-second-wrapper .block-menu-block ul.menu li.collapsed,
#sidebar-second-wrapper .block-menu-block ul.menu li.expanded {
  padding: 0;
}
#sidebar-second-wrapper .block-menu-block ul.menu li.leaf a,
#sidebar-second-wrapper .block-menu-block ul.menu li.expanded a,
#sidebar-second-wrapper .block-menu-block ul.menu li.collapsed a {
  display: block;
  padding: 7px 20px;
  background: none;
  background-image: none !important;
  color: #ffffff !important;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  background-color: #0c426f;
  border-top: 1px solid #1b5280;
}

#sidebar-second-wrapper .block-menu-block ul.menu li.active-trail a {
  background-color: #195383;
  border-top: 3px solid #e09b0f !important;
}

#sidebar-second-wrapper .block-menu-block ul.menu li.first a {
  border-top: none;
}

#sidebar-second-wrapper .block-menu-block ul.menu li.leaf a:hover,
#sidebar-second-wrapper .block-menu-block ul.menu li.leaf a:focus,
#sidebar-second-wrapper .block-menu-block ul.menu li.leaf a:active,
#sidebar-second-wrapper .block-menu-block ul.menu li.collapsed a:hover,
#sidebar-second-wrapper .block-menu-block ul.menu li.collapsed a:focus,
#sidebar-second-wrapper .block-menu-block ul.menu li.collapsed a:active {
  background-color: #195383;
}

#sidebar-second-wrapper .block-menu-block ul.menu li.expanded ul.menu li.leaf a {
  padding-left: 30px;
  border-top: 1px solid #2a6392;
}
