#article-224 body {
    font-family:Arial;
    font-size:13px;
}

#article-224 input {
    font-family:Arial;
    font-size:13px;
}

#article-224 .formtable td {
    padding-bottom:15px;
}

#article-224 .disclaimer {
    margin-top:0px;
    margin-right:8px;
    margin-bottom: 20px;
    /*width:220px;*/
    width:480px;
    font-family:Arial;
    font-weight:normal;
    font-size:11px;
    text-align:left;
}

#article-224 .summarytable td {
    border-bottom:solid 1px #c7ddea;        
    padding: 6px 1px 7px 4px;
}

#article-224 .boldtd {
    font-weight:bold;
    font-family: Arial;
    font-size:12px;
    color:#336699;
    width:150px;
}

#article-224 .title1 {
    color:#336699;
    font-family:Arial;
    font-size:12px;
    font-weight:bold;
}

#article-224 .title2 {
    color:#333333;
    font-family:Arial;
    font-size:13px;
    font-weight:bold;
}

#article-224 td {
    padding: 0;
}

#article-224 table {
    margin: 0;
}
