/* Link Colors */
/*
.front a:visited,
.front a {
  color: #666;
}

.front a:hover,
.front a:focus,
.front a:active {
  color: #205f93;
}
*/

p a:visited,
p a,
table tbody a:visited,
table tbody a {
  color: #205f93;
}

p a:hover,
p a:focus,
p a:active,
table tbody a:hover,
table tbody a:focus,
table tbody a:active,
li a.active {
  color: #4c4c4c;
}

.item-list ul.pager li a:hover,
.item-list ul.pager li a:active,
.item-list ul.pager li a:focus {
  background: #e09b0f;
}

.item-list ul.pager li.pager-current {
  background: #205f93;
}

/* Page Title */
#main-title-outer {
  background: url('../../../../../sites/default/files/field/image/brick-bg-title-inner.jpg') top center no-repeat;
}

#page-title {
  text-transform: capitalize;
}

.front #page-title {
  text-transform: capitalize;
}

.list-search .view-filters .views-widget-filter-field_state_value {
  width: 20%;
}

.list-search .view-filters .views-widget-filter-field_pay_type_value {
  width: 14%;
}

.list-search .view-filters .views-submit-button {
  margin: 23px 0 0 ;
}

.views-field-field-details {
  border-left: 1px dotted #ccc;
  float: right;
  margin-left: 20px;
  padding-left: 20px;
  position: relative;
  text-align: center;
  width: 210px;
}

.view-events .group-event-time .field-type-datetime {
  display: block;
  font-size: 1.25em;
  margin-bottom: 10px;
  background: url("../images/icon-clock.png") no-repeat 0 3px;
  padding-left: 22px;
}

.field-name-field-details {
  border-left: 1px dotted #CCCCCC;
  float: right;
  text-align: left;
  width: 23%;
  padding: 0 0 0 20px;
  margin: 0 0 0 20px;  
}

.node-type-events .group-event-time .field-type-datetime {
  display: block;
  font-size: 1.25em;
  margin-bottom: 10px;
  background: url("../images/icon-clock.png") no-repeat 0 3px;
  padding-left: 22px;
}

.node-type-events .group-event-details .description {
  display: block;
  font-size: 1.25em;
  margin-bottom: 10px;
}

/* Ministry Opportunities */
.node-type-ministry-opportunity .node-title {
  margin: 0 0 10px 0;
}

.node-type-ministry-opportunity .views-row {
  border-bottom: 1px solid #DDDDDD;
  float: left;
  padding-bottom: 20px;
  padding-top: 20px;
  width: 100%;
}

.node-type-ministry-opportunity .views-row .article { 
  margin: 0;
  padding: 0;
}

.node-type-ministry-opportunity .views-row-first {
  padding: 0 0 20px 0;
}

.node-type-ministry-opportunity .node-content{
  position: relative;
}

.node-type-ministry-opportunity .group-church-information {
  float: left;
  width: 19%;
  font-size: 1.167em;
}

.node-type-ministry-opportunity .group-church-information .field-name-field-church-name,
.node-type-ministry-opportunity .group-contact-information .description {
  margin-bottom: 10px;
  display: block;
  font-size: 1.25em;
}

.node-type-ministry-opportunity .group-church-information .field-name-field-address {
  margin-bottom: 0px;
}

.node-type-ministry-opportunity .group-church-information .field-name-field-city .field-item:after {
  content: ", ";
}
.node-type-ministry-opportunity .group-church-information .field-name-field-city,
.node-type-ministry-opportunity .group-church-information .field-name-field-state,
.node-type-ministry-opportunity .group-church-information .field-name-field-zip-code {
  display: inline-block;
  margin-right: 0.3em;
  margin-bottom: 0px;
}

.node-type-ministry-opportunity .field-name-body {
  float: left;
  position: relative;
  width: 52%;
}

.node-type-ministry-opportunity .group-contact-information {
  border-left: 1px dotted #CCCCCC;
  float: right;
  text-align: left;
  width: 23%;
  padding: 0 0 0 20px;
  margin: 0 0 0 20px;
}

.node-type-ministry-opportunity .group-name-contact-information .node-content {
  color: #666666;
  font-family: Georgia,serif;
  font-style: italic;
  margin: 10px 0 0;
  padding: 0 !important;
}

.page-ministry-opportunities .views-table th.views-field-changed,
.page-ministry-opportunities .views-table th.views-field-field-pay-type {
  width: 15%;
}

.page-ministry-opportunities .views-table th.views-field-title,
.page-ministry-opportunities .views-table th.views-field-field-church-name,
.page-ministry-opportunities .views-table th.views-field-field-city {
  width: 23%;
}

/* Chapel Services*/

/* chapel services listing */
.page-chapel-services .views-table .views-field-field-speaker {
  width: 25%;
}

/* Webform Pages and Blocks */
/* reset the margins for the forms */
.webform-client-form {
	margin: 0;
}

/* contact us webform */
form#webform-client-form-172 {
  margin: -25px 0 0 280px;
}

/* info request on <frontpage> */
div#block-views-features-block--2 .view-features .webform-client-form .form-item input {
  float: right;
  width: 70%;
}

div#block-views-features-block--2 .view-features .view-content .views-row .col-last a,
div#block-views-features-block--2 .view-features .view-content .views-row .col-last a:hover,
div#block-views-features-block--2 .view-features .view-content .views-row .col-last a:active,
div#block-views-features-block--2 .view-features .view-content .views-row .col-last a:visited {
  color: #205f93;
  pointer-events: none;
  cursor: default;
}

div#block-views-features-block--2 .view-features .view-content .views-row .col-last .views-field-view-node {
  display: none;
}

div#block-views-features-block--2 .view-features .view-content .views-col .col-inner {
  padding: 10px;
}

div#block-views-features-block--2 .view-features .view-content .col-last .col-inner {
  background: #D7E3E3;
}

div#block-views-features-block--2 .view-features .view-content .col-last .col-inner .views-field-body,
div#block-views-features-block--2 .view-features .view-content .col-last .col-inner .views-field-body p {
  margin-bottom: 0;
}

div#block-views-features-block--2 .view-features .webform-client-form .form-actions .form-submit {
  background-color: #e09b0f;
  border-color: #e09b0f;
  width: 100%;
}

div#block-views-features-block--2 .view-features .webform-client-form .form-actions .form-submit:focus,
div#block-views-features-block--2 .view-features .webform-client-form .form-actions .form-submit:hover {
  background-color: #0c426f;
  border-color: #0c426f;
}

.front .webform-client-form {
  border-top: 0;
  padding: 0;
}

/* info request on its own page */
div#webform-component-information-about-your-interests--prospective-term {
  float: left;
  margin-right: 1em;
  margin-top: 0;
}

/* fieldset titles */
fieldset legend {
  color: #666;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  padding: 0 10px 0 10px;
}

/* 404 Page */
/* specify our image */
.page-404 {
  background: url("../images/error-bg.png") no-repeat left top;
  margin: 100px auto 0;
  width: 597px;
}

/* center the image */
.page-404 #outline {
  margin-left: 40px;
}

/* Additions to the Header */
/* search form margin */
#header #search-block-form .container-inline {
  float: right;
  margin-top: 10px;
}

/* header buttons */
#header .contact-us {
  float: right;
  margin-top: 10px;
}

#header .contact-us a,
#header .contact-us a:visited,
#header .contact-us span {
/*
  color: #6991b7;
*/
  color: #dcdfdf;
}

#header .contact-us a:focus,
#header .contact-us a:hover,
#header .contact-us a:active {
/*
  color: #FFFFFF;
*/
  color: #6991b7;
}

/* site slogan */
#name-and-slogan {
  clear: left;
}

#name-and-slogan p {
  background: none;
  color: #dcdfdf;
  font-family: Lobster;
  font-size: 2em;
}

div.header-and-slogan {
  display: inline-block;
}

#logo {
  margin-bottom: 10px;
}
