/**
  * Responsive Elements
  */

/*header*/
#header #search-block-form .form-text {
  width: 193px;
}

.region-header {
  float: left;
  margin: 10px;
}

/*first*/
#panel-second-wrapper .cols-4 .views-col, 
#panel-second-wrapper .panel-cols-4 .panel-column {
  width: 100% !important;
}
#panel-second-wrapper img {
  height: auto;
  width: 100%;
}

.cols-4 .views-col.col-3 {
  margin: 0 0 20px;
}

#panel-second-wrapper .grid-inner .grid-inner {
  padding: 0;
}

.region-slideshow .views-slideshow-controls-bottom,
.region-slideshow .slideshow-group-fields-wrapper {
	display: none;
}
/*main*/
.front #sidebar-first-wrapper {
  width: 100% !important;
}

.front #sidebar-second-wrapper {
  width: 100% !important;
}


/*fourth*/
.block-newsletter .form-item-email input {
  width: 155px;
}

/*fifth*/
#panel-fifth-wrapper .panel-column {
  margin: 0 0 20px;
  width: 100% !important;
}


/*footer*/
#footer-wrapper {
  line-height: 20px;
  padding: 10px 0;
}
#panel-fifth-wrapper .panel-column-last {
  margin: 0;
}

div.contact-map .map-info {
  padding: 10px;
  width: 93%;
}

div.contact-map .map-info  div{
	width: 100%;
}
.webform-client-form .form-text {
  width: 93%;
}

/*article*/
.article > .submitted {
  margin: 0 0 10px;
  position: static;
  width: 100%;
}

.display-submitted .header, 
.display-submitted .node-content, 
.display-submitted .menu.node-links {
  margin-left: 0;
}

.view-Articles .field-type-image {
  float: left;
  margin: 0;
}
.node-full .field-type-image {
  float: none;
  margin: 0;
}

.page-blog .article .field-type-image {
  float: left;
  margin: 0 0 10px 0;
}  

.page-blog .article .field-type-image img {
  float: left;
  height: auto;
  width: 95%;
  margin: 0;
}
/*sidebar*/
#sidebar-second-wrapper .grid-inner {
  padding: 0 10px 0 10px;
}
#sidebar-second-wrapper .block-inner {
  padding: 0;
}
#sidebar-second-wrapper .block {
  float: left;
  width: 100%;
}

#page-title {
  font-size: 1.6em;
}

ul.primary {
  float: right;
  padding: 0 0 8px 0;
  width: 100%;
}
ul.primary li {
  margin: 0 0 5px;
  float: left;
  width: 100%;
}
ul.primary li a {
  float: left;
  padding: 8px 10px;
  width: 91%;
}

.not-logged-in.page-user #main-content .grid-inner, 
.page-user-register #main-content .grid-inner, 
.page-user-register #main-content .grid-inner, 
.page-user-login #main-content .grid-inner {
  width: 90%;
}

#panel-second-wrapper .grid-inner .grid-inner img{
	width: 100%;
	height: auto;
}

/*blog*/
.article > .submitted .time {
  display: inline-block;
  width: 93%;
}
.node-blog ul.links li {
  margin: 0;
}
.article .field-type-image img {
	width: 95%;
	height: auto;
}
.node-blog ul.links li {
  display: inline-block;
  margin: 3px 0;
  width: 100%;
}

.view-videos .views-field-field-videos img {
  height: auto;
  width: 100%;
}



.page-videos .cols-2 .views-col {
	width: 100% !important;
}
.page-videos #main-wrapper #main-content > .grid-inner {
  padding: 0 10px;
}

.page-videos .views-field-field-videos:before {
  left: 90px;
  top: 25px;
}

.view-all-courses .view-filters .views-widget-sort-order,
.view-all-courses .view-filters .views-exposed-widget,
.view-all-courses .view-filters .views-widget-sort-by,
.view-all-courses .view-filters .views-widget-filter-title,
.view-all-courses .view-filters .views-submit-button{
	width: 100%;
}

.article .node-content iframe {
	height: auto;
	width: 100%;
}

#search-form .form-text {
  width: 65%;
}
.view-events .field-name-body,
.node-type-events .group-event-time, 
.view-events .group-event-time,
.field-name-field-speaker {   
  width: 100%;
}

.node-type-student-profile .node-full .field-type-image {
  width: 30%;
}

.node-student-profile .field {
  float: right;
  width: 60%;
}
.node-student-profile .field-name-body {
  width: 100% !important;
}

.sidebar .search-form .form-text {
  width: 83%;
}