/* 
Document   : tablet
*/
/*panel first*/
.panel-first .block ul.menu {
  text-align: center;
}

.panel-first .block ul.menu li {
  float: none;
  display: inline-block;
  margin-bottom: 15px;
}

#panel-second-wrapper .grid-inner {
	padding: 30px 10px;
}
#panel-second-wrapper  .cols-4 .views-col, 
#panel-second-wrapper  .panel-cols-4 .panel-column {
	width: 25% !important;
}

#panel-second-wrapper img {
  height: auto;
  width: 100%;
}

#panel-third-wrapper .grid-inner {
	padding: 0 20px;
}


.jcarousel-skin-default .jcarousel-clip-horizontal {
  width: 100%;
}

/*slideshow*/
#slideshow-wrapper {
  border-bottom: 0;
}

.region-slideshow .views-field-field-slideshow:after,
.region-slideshow .views-field-field-slideshow:before {
	height: 100%;
}

.region-slideshow .views-slideshow-controls-bottom {
  bottom:  50px;
  left: 20px;
}

.region-slideshow .slideshow-group-fields-wrapper {
  bottom:  90px;
  width: 280px;
}

.front #sidebar-first-wrapper {
	width: 50% !important;
	float: left;
}

.front #sidebar-second-wrapper {
	width: 50% !important;
	float: right;
}

.front #sidebar-second-wrapper .region-sidebar-second > .block {
  width: 100%; 
  float: none;
}

.front #sidebar-second-wrapper .grid-inner,
.front #sidebar-first-wrapper .grid-inner {
  padding: 0 20px;
}

.front #sidebar-second-wrapper .block-inner {
  padding: 0;
}

#sidebar-second-wrapper {
	width: 100%;
}

#sidebar-second-wrapper .region-sidebar-second > .block {
  width: 50%; 
  float: left;
}

#sidebar-second-wrapper .block-inner {
  padding: 0 10px;
}

#sidebar-second-wrapper iframe {
  width: 98% !important;
}

#panel-second-wrapper .block .views-field-title {
	font-size: 12px;
}

#panel-third-wrapper .grid-inner {
  padding: 0 10px;
}

#panel-fifth-wrapper .panel-fifth-1,
#panel-fifth-wrapper .panel-fifth-2,
#panel-fifth-wrapper .panel-fifth-3,
#panel-fifth-wrapper .panel-fifth-4,
#panel-fifth-wrapper .panel-fifth-5,
#panel-fifth-wrapper .panel-fifth-6 {
	width: 33.32% !important;	
}

#panel-fifth-wrapper .panel-fifth-1,
#panel-fifth-wrapper .panel-fifth-2,
#panel-fifth-wrapper .panel-fifth-3 {
	margin: 0 0 30px 0;
}

/*menu responsive*/
.responsive-menu-button {
  color: #CCCCCC;
  display: block !important;
  font-size: 1.4em;
  font-weight: 600;
  line-height: 100%;
  padding: .8em 1em;
  text-align: center;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  z-index: 4;
}

.responsive-menu-button:active,
.responsive-menu-button:focus,
.responsive-menu-button:hover {
  color: #fff;
  cursor: pointer;
}

#menu-bar-wrapper {
  background: #10151C;
}

#menu-bar-wrapper .container {
  background: #10151C;
  position: absolute;
  top: 45px;

}

#menu-bar-wrapper .grid-inner {
  padding: 0;
}

#menu-bar-wrapper .menu.sf-menu.sf-style-university {
  float: none;
}

#menu-bar-wrapper .menu.sf-menu li {
  border-bottom: 1px solid #2B2C2E;
  border-right: 0;
  float: left;
  margin: 0;
  width: 100%;
}
#menu-bar-wrapper .menu.sf-menu li ul li {
	border-bottom: none;
}

#menu-bar-wrapper .menu.sf-menu li ul ol li {
	border-bottom: 1px solid #2B2C2E;
}

#menu-bar-wrapper .menu.sf-menu li ol li .sf-megamenu-column {
	border-bottom: 1px solid #2B2C2E;
}

#menu-bar-wrapper .menu.sf-menu.sf-style-university ul {
  padding: 0;
  position: static;
  top: 0;
  width: 100%;
}

#menu-bar-wrapper .menu.sf-menu.sf-style-university ul .sf-megamenu-column{
  padding: 0 !important;
}


#menu-bar-wrapper .menu.sf-menu.sf-style-university ul.sf-megamenu li.sf-megamenu-wrapper ol li.last {
  border-bottom: 0 !important;
}

#menu-bar-wrapper .menu.sf-menu.sf-style-university ul.sf-megamenu li.sf-megamenu-wrapper ol li a {
  border-top: 0 !important;
}

#menu-bar-wrapper .menu.sf-menu.sf-style-university ul a{
  background: #1B212A;
}

#menu-bar-wrapper .menu.sf-menu.sf-style-university ul.sf-megamenu li.sf-megamenu-wrapper ol li a{
  padding: 10px 20px
}
#menu-bar-wrapper .menu.sf-menu.sf-style-university ul.sf-megamenu li.sf-megamenu-wrapper ol li ol li a{
  background: #1B212A;
  padding: 10px 40px
}


#menu-bar-wrapper .menu.sf-menu.sf-navbar.sf-style-university ul a {
  padding: 15px 0 15px 40px;
  width: 100% !important;
}

#menu-bar-wrapper  .menu.sf-menu.sf-style-university.sf-navbar ul li {
  border-bottom: 1px solid #2B2C2E;
}

#menu-bar-wrapper  .menu.sf-menu.sf-style-university.sf-navbar ul li.last { 
	border-bottom: 0;
}

#menu-bar-wrapper .menu.sf-menu.sf-style-university.sf-navbar ul li a .sf-sub-indicator {
  background: url("../../images/arrow-3.png") no-repeat 15px 0;	
  top: 1.5em !important;
}

#menu-bar-wrapper .menu.sf-menu.sf-navbar.sf-style-university ul ul {
  margin: 0;
  width: 100% !important;
} 

#menu-bar-wrapper .menu.sf-menu.sf-navbar.sf-style-university ul ul a{ 
  border-top: 0 !important;	
  padding: 15px 0 15px 60px;
}

.view-events .group-event-time .field-type-text-long:last-of-type {
  font-size: 14px;
}
.node-type-events .article .field-type-image img,
.view-events .article .field-type-image img {
  height: auto;
  width: auto;
}


.node-type-events .group-event-time .field-type-text-long:last-of-type,
.view-events .group-event-time .field-type-text-long:last-of-type {
  font-size: 14px;
}
div.contact-map .map-info {
  padding: 0 12px;
}
div.contact-map img {
  width: 64%;
}
div.contact-miscinfo {
  top: 355px;
} 

.page-user-password #main-wrapper #main-content > .grid-inner,
.page-user-register #main-wrapper #main-content > .grid-inner,
.page-user #main-wrapper #main-content > .grid-inner,
.page-user-login #main-wrapper #main-content > .grid-inner {
  margin: 0 auto;
}

.page-user-password #main-wrapper #main-content > .grid-inner .form-text,
.page-user-register #main-wrapper #main-content > .grid-inner .form-text,
.page-user #main-wrapper #main-content > .grid-inner .form-text,
.page-user-login #main-wrapper #main-content > .grid-inner .form-text {
  width: 95%;
}

.form-text,
.webform-client-form .form-textarea,
span.button input.form-submit,
.sidebar .search-form .form-text,
#header #search-block-form .form-text,
#header #search-block-form .form-submit,
.block-newsletter .form-item-email input,
.block-newsletter span.button input.form-submit,
.sidebar .search-form span.button input.form-submit {  
  -webkit-appearance: none;
  -webkit-border-radius: 0 !important;
}

.sidebar .search-form .form-text {
  width: 87%;
}

.view-all-courses .view-filters select {
	-webkit-border-radius: 0 !important;
}

.page-courses-page #main-wrapper #main-content > .grid-inner {
  padding: 0 20px 20px 20px;
}


#menu-bar-wrapper .menu.sf-menu.sf-style-university.sf-navbar ul li a {
  border-bottom: 1px solid #10151C;
  border-right: 0 none;
  height: 40px !important;
  line-height: 40px !important;
  width: 100%;
}
.node-professor.node-full .field-type-image img {
	width: auto;
}


#panel-fourth-wrapper .panel-fourth-1, 
#panel-fourth-wrapper .panel-fourth-2 {
	width: 50% !important;
}
#panel-fourth-wrapper .panel-fourth-3 { 
	margin: 20px 0 0 ;
	text-align: center;
	width: 100% !important;
}
#panel-fourth-wrapper ul.social-list li {
  display: inline-block;
  float: none;
}

.node-type-student-profile .node-full .field-type-image img {
  margin: 0 0 5px;
  width: auto;
}


.node-type-professor  .article {
  margin-bottom: 0;
  padding-bottom: 0;
}

.page-taxonomy-term .article .field-type-image img {
  height: auto;
  width: auto;
}
