/* $Id:  */

/**
 * Styling for the se8po2 bracket design
 */
 
/* Bracket - set a width so browser will scroll bracket */
div.bracket-block {
  width: 800px;
}

/* Fonts */
div.bracket-subtitle {
  font-size: 1.25em;
}
div.bracket-comments {
  font-size: 1.0em;
}
div.bracket-round-comment {
  font-size: 1.25em;
}
div.bracket-match-competitor {
  font-size: 1.25em;
}
div.bracket-match-comment {
  font-size: 0.75em;
}
div.bracket-match-competitor-comment {
  font-size: 0.75em;
}
div.bracket-match-id {
  font-size: 0.75em;
}
div.bracket-match-score {
  font-size: 0.75em;
}
div.bracket-match-home {
  font-size: 0.75em;
}
div.bracket-result {
  font-size: 1.25em;
}
div.bracket-result-comment {
  font-size: 1.0em;
}

/* Round elements */
div.bracket-round {
  width: 200px;
}

/* Result elements */
div.bracket-results {
  width: 200px;
}

/* Logo images */
div.bracket-logo-image-block {
  position: absolute;
  top: 0px;
  left: 600px;
}
div.bracket-sponsorlogo-image-block {
  position: absolute;
  top: 550px;
  left: 600px;
}

/* Defines the top of the first match in Round 1 */
#round-1-spacer {
  height: 10px;
}
/* Defines height of each match in Round 1 */
div.round-1-match {
  height: 100px;  
}
/* Defines some space between matches in Round 1 */
div.bracket-round-1-match-spacer {
  height: 10px;
}
/* Defines the top of the first match in Round 2 */
#round-2-spacer {
  height: 60px;
}
/* Defines the height of each match in Round 2 */
div.round-2-match {
  height: 140px;  
}
/* Defines some space between matches in Round 1 */
div.bracket-round-2-match-spacer {
  height: 110px;
}
/* Defines start of first result */
#results-spacer {
  height: 150px;
}
/* Defines distance between results */
div.bracket-result-separator {
  height: 260px;  
}
