/* --- Common Links --- */


/* Any menu block in the menu-bar region */
.nav {
  clear: both;
  margin: 0;
}

.nav li,
.nav .menu li {
  display: inline;
  float: left;
  list-style: none;
}

.nav li a,
.nav .menu li a {
  display: block;
  padding: 0 10px;
  white-space: nowrap;
}

.nav ul,
.nav ul.menu,
.nav ul.menu li {
  margin: 0;
  padding: 0;
}

.nav .block {
  margin: 0;
  padding: 0;
}

/* --- Default Drupal Menu --- */
.block ul.menu {
}

.block ul.menu ul {
}

.block ul.menu li {
  list-style-image: none;
  list-style-type: none;
  margin: 0;
}

ul.menu li.expanded,
ul.menu li.collapsed,
ul.menu li.leaf {
}

.block ul.menu li a {
}

.block ul.menu li li a {
}

.block ul.menu li a:visited {
}

.block ul.menu li a:hover,
.block ul.menu li a:focus,
.block ul.menu li a:active {
}

.block ul.menu li li a:hover,
.block ul.menu li li a:focus,
.block ul.menu li li a:active {
}

/* Expanded Items */
.block ul.menu li.expanded {
}

.block ul.menu li.expanded li.expanded {
}

.block ul.menu li.expanded li.expanded a {
}

.block ul.menu li.expanded ul {
}

.block ul.menu li.expanded ul ul {
}

/* Collapsed Item */
.block ul.menu li.collapsed {
}

.block ul.menu li li.collapsed a,
.block ul.menu li.expanded li.collapsed a {
}

/* Leaf Items */
.block ul.menu li.leaf a {
}

.block ul.menu li.expanded li.leaf a {
}

/* Active Items */
.block ul.menu li.active-trail > a,
.block ul.menu li > a.active {
  background-color: #c00;
  color: #fff;
}

.block ul.menu li.leaf a.active {
}

.block ul.menu li li a.active {
  background-image: url("../images/plus-2.png");
}

.block ul.menu li li li a.active {
}

/* Misc. Items */
.block ul.menu li.first {
}

.block ul.menu li.last {
  border-bottom: 0;
}

.block ul.menu li.content {
  padding: 0;
}

/* --- Breadcrumb --- */
#breadcrumb-wrapper h2 {
  background: 0;
  clip: auto;
  color: #666;
  display: block;
  float: left;
  font-size: 12px;
  font-weight: bold;
  margin: 0 5px 0 0;
  line-height: 100%;
  height: auto;
  padding: 0;
  padding-left: 0;
  position: relative !important;
}

#breadcrumb-wrapper ol {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
}

#breadcrumb-wrapper ol li {
  display: block;
  float: left;
  font-size: 12px;
  line-height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

#breadcrumb-wrapper ol li span {
  background: url('../images/arrow-2.png') no-repeat 50% 50%;
  display: block;
  float: left;
  line-height: 13px;
  text-align: center;
  text-indent: -999em;
  width: 20px;
}

#breadcrumb-wrapper ol li a {
  display: block;
  float: left;
  font-weight: bold;
  font-size: 12px;
}

#breadcrumb-wrapper ol li a:hover,
#breadcrumb-wrapper ol li a:active,
#breadcrumb-wrapper ol li a:focus {
  color: #fff;
}

/* --- Seconday Menu (User Menu) --- */
#secondary-menu {
  clear: right;
  display: block;
  padding-top: .75em;
  text-align: right;
}

#secondary-menu ul {
  margin: .5em 0 0 0;
}

#secondary-menu ul li {
  display: inline;
  margin: 0;
  padding: 0 0 0 .5em;
}

#secondary-menu ul li a {
}

#secondary-menu ul li a:hover,
#secondary-menu ul li a:active,
#secondary-menu ul li a:focus {
}

/* --- Footer Menu --- */
#footer ul.menu {
  float: left;
  margin: -3px 0 0;
  padding: 0;
}

#footer ul.menu li {
  border-right: 1px dotted #ccc;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
}

#footer ul.menu li a {
  display: block;
  float: left;
  padding: 3px 10px;
}

#footer ul.menu li a:hover,
#footer ul.menu li a:active,
#footer ul.menu li a:focus {
  color: #333;
  text-decoration: none;
}

#footer ul.menu li a.active {
  background: #c00;
  color: #fff;
}

/* --- Pager --- */
div.pager {
}

.item-list ul.pager {
  clear: both;
  margin: 0;
  text-align: center;
}

.item-list ul.pager li {
  margin: 0;
  padding: 0;
}

.item-list ul.pager li.pager-item {
  background-image: none;
  display: inline;
  font-weight: bold;
  line-height: normal;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.item-list ul.pager li a,
.item-list ul.pager li span {
  display: inline-block;
  line-height: 100%;
  padding: 7px 12px;
}

.item-list ul.pager li a {
  background: #eee;
  color: #999;
  text-transform: uppercase;
}

.item-list ul.pager li a:visited {
}

.item-list ul.pager li a:hover,
.item-list ul.pager li a:active,
.item-list ul.pager li a:focus {
  background: #e09b0f;
  color: #fff;
  text-decoration: none;
}

.item-list ul.pager li a.active {
}

.item-list ul.pager li.pager-item {
}

.item-list ul.pager li.first {
}

.item-list ul.pager li.last {
}

.item-list ul.pager li.pager-current {
  background: #205f93;
  color: #fff;
  padding: 5px 10px 6px;
}

.item-list ul.pager li.pager-first {
}

.item-list ul.pager li.pager-previous {
}

.item-list ul.pager li.pager-next {
}

.item-list ul.pager li.pager-last {
}

/* Pager List */
.item-list ul.pager-list {
}

/* Pager Links */
.item-list ul.pager-links {
  margin-top: 5px;
}

/* --- Items List --- */
.item-list ul {
  margin: 0;
  padding: 0;
}

.item-list ul li {
  list-style: none;
  padding: 5px 0;
}

.item-list ul li a {
  background: url("../images/bullet2.gif") no-repeat 0 5px;
  margin: 0;
  padding-left: 15px;
}

.item-list ul li a:hover,
.item-list ul li a:active,
.item-list ul li a:focus {
  background: url("../images/bullet-red.gif") no-repeat 0 5px;
}

/* --- Links --- */
.links a {
}

ul.links {
}

ul.links li {
}

ul.links li a {
}

/* --- Action Links --- */
ul.action-links {
  list-style: none;
  margin: 5px;
  padding: 0.5em 1em;
}

ul.action-links li {
  display: inline-block;
  margin-left: 10px;
}

ul.action-links li a {
  background: url("../images/plus.png") no-repeat left center;
  margin: 0 10px 0 0;
  padding-left: 15px;
}

/* --- More Links --- */
.more-link {
}

.more-link a {
}

/* SUPERFISH
----------------------------------------------------*/
.sf-menu {
}

.sf-menu a {
  padding: .5em 1em;
  text-decoration: none;
}

.sf-menu > li > a {
}

.sf-menu li {
  background: transparent;
}

.sf-menu li li {
}

.sf-menu li li li {
}

.sf-menu li li li li {
}

.sf-menu li:hover,
.sf-menu li.sfHover,
.sf-menu a:focus,
.sf-menu a:hover,
.sf-menu a:active {
  outline: 0;
}

/* --- Supperfish --- */
.block-superfish .block-inner,
.block-superfish .block-inner .block-content {
  margin: 0;
  padding: 0;
}

.block-superfish ul,
.block-superfish ul ul,
.block-superfish ul ul ul,
.block-superfish ul ul ul ul,
.block-superfish li {
  margin: 0;
  padding: 0;
}

.sf-vertical,
.sf-vertical li {
  width: 100%;
}

.sf-vertical li:hover ul,
.sf-vertical li.sfHover ul {
  left: 100%; /* match ul width */
  margin: 0;
  padding: 0;
  top: 0;
}

ul.sf-navbar {
  padding-bottom: 0 !important; /* Height for navbar */
}

/**
 * Tabs
*/

/* --- System Tabs --- */
ul.primary {
  border-bottom-color: #ddd;
  line-height: normal;
  margin: 10px 0 10px;
  padding: 0 0 8px 5px;
}

ul.primary li {
  margin: 0;
}

ul.primary li a {
  background-color: #ddd;
  border: 1px solid #ddd;
  color: #7b7b7b;
  font-weight: bold;
  margin-right: .08em;
  padding: 8px 10px;
}

ul.primary li a:hover {
  background-color: #ddd;
  border-color: #ddd;
  color: #c00;
}

ul.primary li.active a {
  background-color: #fff;
  border-bottom-color: #fff;
  border-color: #ddd;
  color: #333;
}

.local-tasks ul.primary li a:hover {
  background-color: transparent;
  border-color: #ddd;
  color: #c00;
}

.local-tasks ul.primary li.active a {
  background-color: #fff;
  border-bottom-color: #ccc;
}

ul.secondary {
  border-bottom: 1px solid #ccc;
  margin: 1em 0 0;
  padding: 0 .3em 1em;
}

ul.secondary li {
  border-right: 0;
  list-style: none;
  padding: 0 2em 0 0;
}

ul.secondary li a:hover,
ul.secondary li a.active {
  border-bottom: none;
  text-decoration: underline;
}

/**
 * Misc.
*/

#tasks {
  margin-bottom: 1em;
}

/* Skip Navigation */
#skip-link {
}

#skip-link a,
#skip-link a:visited {
}

#skip-link a:hover,
#skip-link a:active,
#skip-link a:focus {
}

/* Back To Top */
a.btn-btt {
  background: #ddd;
  color: #7b7b7b;
  line-height: normal;
  padding: 3px 10px;
  position: absolute;
  right: 0;
  top: 0;
}

a.btn-btt:hover,
a.btn-btt:active,
a.btn-btt:focus {
  background: #333;
  color: #fff;
  text-decoration: none;
}

/* Contextual Links */
.contextual-links-wrapper ul {
}

.contextual-links-wrapper ul li {
  background-image: none;
}

/* Feed Icon */
a.feed-icon {
  display: none;
  margin-top: 1.5em;
}

a.feed-icon img {
  margin: 0;
  padding: 0;
}

.sidebar .block {
  margin: 0 0 30px 0;
}

.sidebar .block ul.menu {
  margin: 0;
  font-weight: normal;
}

.sidebar .block ul.menu li {
  background: none;
  margin: 0;
  padding: 4px 0;
}

.sidebar .block ul.menu li:first-child {
  padding-top: 0;
}

.sidebar .block ul.menu li a {
  background: url("../images/bullet2.gif") no-repeat 0px 5px;
  color: #666;
  padding-left: 10px;
}

.sidebar .block ul.menu li a:hover,
.sidebar .block ul.menu li a:focus,
.sidebar .block ul.menu li a:active {
  background-image: url("../images/bullet-red.gif");
  background-color: 0;
  color: #d42b1e;
}
/*list courses*/
.sidebar .block div.list-courses ul {
  margin: 0;
  font-weight: normal;
}

.sidebar .block div.list-courses ul li { 
  margin: 4px 0;
  line-height: 150%;
  padding: 4px 0;
}

.page-staffs .sidebar .item-list { 
  padding: 0;
}
.page-staffs .sidebar .block div.list-courses ul li.views-row { 
  padding: 4px 0 !important;
}


.sidebar .block div.list-courses ul li a {
  color: #666;
}

.sidebar .block div.list-courses ul li:hover a,
.sidebar .block div.list-courses ul li a:hover,
.sidebar .block div.list-courses ul li a:focus,
.sidebar .block div.list-courses ul li a:active {
  color: #d42b1e;
}
/*views summary*/
.sidebar .block ul.views-summary  {
  margin: 0;
  padding: 0;
}

.sidebar .block ul.views-summary li {
  background: none;
  border-bottom: 1px solid #eee;
  margin-bottom: 0;
  padding: 5px 0 5px 0;
}

.sidebar .block ul.views-summary li a {
  background: url("../images/icon-calendar.png") no-repeat left center;
  padding-left: 20px;
}

